kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
kubeadmConfigPatches:
- |
  kind: KubeletConfiguration
  cpuManagerPolicy: "static"
  topologyManagerPolicy: "single-numa-node"
  reservedSystemCPUs: "0"
  memoryManagerPolicy: "Static"
  evictionHard:
    memory.available: "100Mi"
  kubeReserved: 
    memory: "256Mi"
  reservedMemory:
    - numaNode: 0
      limits:
        memory: "612Mi"
  systemReserved: 
    memory: "256Mi"
  featureGates:
    KubeletPodResourcesGetAllocatable: true
nodes:
- role: control-plane
- role: worker
