name: Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

defaults:
  run:
    shell: bash

jobs:
  release-build:
    runs-on: ubuntu-20.04
    steps:
    - name: checkout sources
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: setup golang
      uses: actions/setup-go@v2
      id: go
      with:
        go-version: 1.17

    - name: verify modules
      run: go mod verify

    - name: set release version env var
      run: |
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: build test binary
      run: |
        make build-e2e

    - name: build tool
      run: |
        make

    - name: render manifests
      run: |
        make release-manifests-k8s

    - name: create K8S kind cluster
      run: |
        # kind is part of 20.04 image, see: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
        kind create cluster --config=hack/kind-config-e2e-positive.yaml --image kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6
        kubectl label node kind-worker node-role.kubernetes.io/worker=''

    - name: run E2E tests
      run: |
        _out/e2e.test -ginkgo.focus='\[PositiveFlow\]'

    - name: fix build artifacts
      run: |
        cp _out/deployer _out/deployer-${{ env.RELEASE_VERSION }}-linux-amd64
        cp _out/deployer-manifests-allinone.yaml _out/deployer-${{ env.RELEASE_VERSION }}-manifests-allinone.yaml

    - name: compute signature
      run: |
        hack/make-checksum.sh ${{ env.RELEASE_VERSION }}

    - name: upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build-artifacts
        path: _out/*

    - name: export kind logs
      if: ${{ failure() }}
      run: |
        kind export logs /tmp/kind-logs

    - name: archive kind logs
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: kind-logs
        path: /tmp/kind-logs

  release:
    needs: [release-build]
    runs-on: ubuntu-20.04
    steps:
    - name: checkout sources
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # todo: create changelog and/or release body

    - name: download again the build artifacts
      uses: actions/download-artifact@v2
      with:
        name: build-artifacts

    - name: create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "SHA256SUMS,deployer-v*-linux-amd64,deployer-v*-.yaml"
        token: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
